.no_events
{
	margin-top: 30px;
	background: url(../img/without_events.png) no-repeat;
	height: 460px;
	background-position:center;
	text-align: center;
}

.event_creation{
	padding-left: 40px;
	min-width: 650px;
	background: -webkit-linear-gradient(-90deg, #8FD2CF, #3D9FCD); /* For Safari */
	background: -o-linear-gradient(-90deg, #8FD2CF, #3D9FCD); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-90deg, #8FD2CF, #3D9FCD); /* For Firefox 3.6 to 15 */
	background: linear-gradient(-90deg, #8FD2CF, #3D9FCD); /* Standard syntax (must be last) */
	height: 535px;
	color: #FFF;	
}

.desc_title{
	padding-top: 30px;
	padding-left: 30px;
}

.left{
	float: left;
	width: 40%;
	padding-right: 60px;
}

.right
{
	float: right;
	width: 44%;
	padding-right: 60px;
}

.details
{
	clear: both;
	margin-top: 20px;	
	width: 100%;
}

.cancel{
	margin-right: 25px;
	float: left;
	text-align: center;
	line-height: 1.9;
	height: 28px;
	text-decoration: none;
	display: inline-block;
	width: 100px;
	border: 1px solid #FFF;
	color: #FFF;
	font-family: StoneSansStd-MediumItalic;
}

input[type=submit]{
	background: #46A0C3;
	height: 30px;
	color: #FFF;
	border: 1px solid #FFF;
	font-family: StoneSansStd-MediumItalic;
	font-size: 13pt;
	width: 100px;
	line-height: 1.9;
	cursor: pointer;
}

#map{	
	width: 65%;
	height: 200px;
	border: 1px solid;	
	float: left;
	margin-top: 25px;
}

.images{
	float: right;
	width: 31%;
	margin-top: 20px;
	height: 200px;
}

.action{
	margin-top: 27px;
	clear: both;
	float: right;
	width: 300px;
}

.img_box{
	width: 88%;
	height: 41%;
	border: 1px solid;
	margin-top: 10px;
	background: url(../img/photo.png) no-repeat;
	background-position: center;
	overflow: hidden;
}

input[type=file]
{
	display: block !important;
	width: 100% !important;
	height: 100% !important;
	opacity: 0 !important;
	overflow: hidden !important;
	cursor: pointer;
}

.back_img
{
	background: url(../img/fondo-crear.png) no-repeat;
	width: 100%;
	height: 100%;
	background-position: center;
}