/* 
    Document   : binluu.components
    Created on : Nov 19, 2013, 9:37:23 AM
    Author     : Agustin Ramirez <imp14a@gmail.com>
    Description:

*/

.input{
    display: inline;
}

.input input[type=text],input[type=password],input[type=number],input[type=email],input[type=tel]{
    text-align: left;
    margin-top: 20px;
    border: none;
    width: 80%;
    height: 24px;
    padding-left: 30px;
}
textarea{
    text-align: left;
    margin-top: 20px;
    border: none;
    width: 80%;
    height: 110px;
    padding-left: 30px;
    font-size: 10pt;
    padding-top: 5px;
}
.input select{
    text-align: center;
    margin-top: 20px;
    border: none;
    width: 80%;
    height: 24px;
    background-color: white;
    text-align: center;
}
.input input::-webkit-input-placeholder {
    font-size: 10pt;
    color: #b3b3b3;
    font-family: StoneSansStd-Medium;
    text-align: left;
}
.input input::-moz-placeholder { /* Firefox 18- */
    color: red;
    text-align: center;
}
.input input::-moz-placeholder {  /* Firefox 19+ */
    color: red;
    text-align: center;
}
.input input:-ms-input-placeholder {
    color: red;
    text-align: center;
}
div.slider {
	margin:0px 0; 
	background-color:#ccc; 
	height:3px; 
	position: relative; 
}
div.slider .top{
    position: absolute;
    top: -6px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 16px;
}
div.slider div.handle {
    cursor:move; 
    position: absolute;
    top: -6px;
    width: 9px;
    height: 16px;
    background-color: white;
    background-image: url('/img/sider_handle.png');
    z-index: 1;
}

div.slider div.range {
    width: 100%; 
    height: 4px;
    background-color: white;
    border-radius: 5px;
}