.title{
        text-align: center;
        color:#666;
    }
    .att{
        margin-top: 30px;
        display: block;
        text-align: center;
    }
    .att span{
        display: block;
    }
    body{
        color:#666;
    }
    label{
        display: block;
        color: #ff6400;
    }
    h4{
      margin-top: 20px;  
    }
    h3{
        margin-top: 30px;
    }
    strong{
        display: block;
        margin-top: 20px;
    }
    p{
        margin-top: 20px;
    }
    ol, ul{
        margin-top: 20px;
        margin-left: 50px;
    }
    
    .informatioContaner{
        box-shadow: 5px 5px 20px 20px #CCC;
        padding-left: 100px;
        display: inline-block;
        margin-top: 50px;
        padding-right: 100px;
        background-color: white;
        width: 1000px;
        text-align: justify;
    }
    a{
        color:#FF6400;
        text-decoration: none;
    }
    .close_document{
        background-image: url(/img/close_document.png);
        background-size: contain;
        margin-top: 30px;
        float:right;
        width: 32px;
        height: 32px;
    }