* {
	margin:0;
	padding:0;
}
html{
        height: 100%;
        min-height: 100%;
}

body{
        min-width: 1024px;
        min-height: 100%;
        width: 100%;
        height: 100%;
        background-image: url(/img/background.jpeg);
        background-repeat: repeat-x;
        background-size: contain;
        font-family: StoneSansStd-Medium;
        background-attachment: fixed;
}
#container{
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

#header{
	height: 120px;
	display: block;

}
#header .logo{
	background-image: url(/img/logo.png);
	width: 165px;
	height: 60px;
	background-repeat: no-repeat;
	margin-top: 50px;
	display: inline-block;
	background-size: contain;
	position: relative;
	top: -3px;
}
#header #slogan{
	display: inline-block;
	font-size: 17pt;
	margin-left: 45px;
	font-family: StoneSansStd-SemiboldItalic;
	color: darkgray;
}

#content{
    text-align: center;
    min-height: 500px;
}

#footer{
	font-size: 15pt;
	height: 80px;
	display: block;
	margin-top: 50px;
	color: darkgray;
	font-family: StoneSansStd-Medium;
}
#footer span{
	display: inline-block;
}
#footer a{
	color: #999;
}
#footer .contact{
	background-image: url(/img/contact.png);
	width: 120px;
	background-position: right;
	background-repeat: no-repeat;
}
#footer .adviser{
	background-image: url(/img/adviser.png);
	width: 244px;
	background-position: top right;
	background-repeat: no-repeat;
}
#footer .faq{
	background-image: url(/img/faq.png);
	width: 224px;
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 24px;
}

#footer div{
	display: inline-block;
	margin-left: 70px;
	background-size: 28px;
}
.clear{
    clear: left;
    clear: right;
}

.title{
    margin-top: 15px;
    font-family: StoneSansStd-MediumItalic;
    font-size: 17pt;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
}

/*agregar*/
@font-face {
	font-family: StoneInformalStd-BoldItalic;
	src: url(font/StoneInformalStd-BoldItalic.otf)
		,url(font/StoneInformalStd-BoldItalic.eot);
	
}
@font-face {
	font-family: StoneSansStd-MediumItalic;
	src: url(font/StoneSansStd-MediumItalic.otf)
		,url(font/StoneSansStd-MediumItalic.eot);
}
@font-face {
	font-family: StoneInformalStd-SemiboldIt;
	src: url(font/StoneInformalStd-SemiboldIt.otf)
		,url(font/StoneInformalStd-SemiboldIt.eot);
}
@font-face {
	font-family: StoneSansStd-Medium;
	src: url(font/StoneSansStd-Medium.otf)
		,url(font/StoneSansStd-Medium.eot);
}
@font-face {
	font-family: StoneSansStd-BoldItalic;
	src: url(font/StoneSansStd-BoldItalic.otf)
		,url(font/StoneSansStd-BoldItalic.eot);
}
@font-face {
	font-family: StoneSansStd-Bold;
	src: url(font/StoneSansStd-Bold.otf)
		,url(font/StoneSansStd-Bold.eot);
}
@font-face {
	font-family: StoneSansStd-SemiboldItalic;
	src: url(font/StoneSansStd-SemiboldItalic.otf)
		,url(font/StoneSansStd-SemiboldItalic.eot);
}
