p.title{
	color: #FF6400;
	margin-bottom: 20px;
}

.detail label{
	color: #535353;
	font-family: StoneSansStd-Medium;
}

.datetime{
	float: left;
	margin: 10px;
}
.event_title{
	font-family: StoneSansStd-MediumItalic;
	font-size: 14pt;	
}

.invited_users{
	font-family: StoneSansStd-MediumItalic;	
	font-size: 14pt;
	color: #FC4C08;
}

.detail p{
	color: #FC4C08;
	font-family: StoneSansStd-Medium;
}

.event_item{
	height: 250px;
}

.images{
	width: 30%;
	float: left;
	height: 200px;
}

.description{
	width: 40%;
	float: left;
}

.request{
	margin-left: 70%;
	text-align: center;
}

.event_title{
	height: 30px;
}

.invited_users{
	position: relative;
	left: -30px;
}

.block{
	display: block;
	font-family: StoneSansStd-Bold;
	font-size: 15pt;
	text-decoration: none;
	line-height: 1.7;
}

.legend{
	height: 30px;
	width: 100px;
	border: 1px solid #FFF;
	margin: 0 auto 15px;
}

.response{
	height: 30px;
	width: 100px;
	margin: 0 auto 15px;
	background: #EEEEEE;
	color: #CCC;
}

.accept{
	background: #7BBE31;
	color: #FFF;
}

.cancel{
	background: #FB0007;
	color: #FFF;
}

.cintillo{
	text-align: center;
}